[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ICAOD"]
	path = ICAOD
	url = https://github.com/ehsan66/icaod
	shallow = true
	registered = true
